<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Aplikasi Monitoring Tagihan</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Vali Admin</title>

</head>
<body class="sidebar-mini fixed">
<div class="wrapper">
    <!-- Navbar-->
    <header class="main-header hidden-print"><a style="font-family: Georgia" class="logo" th:href="@{/home}">STEI TAZKIA</a>
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button--><a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>
            <!-- Navbar Right Menu-->
            <div class="navbar-custom-menu">
                <ul class="top-nav">
                    <!--Notification Menu-->

                    <!-- User Menu-->
                    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                        <ul class="dropdown-menu settings-menu">
                            <li><a href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Side-Nav-->
    <aside class="main-sidebar hidden-print">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image"><img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image"></div>
                <div class="pull-left info">
                    <p>MIMIN</p>
                    <p class="designation">Admin</p>
                </div>
            </div>
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">
                <li><a th:href="@{/home}"><i class="fa fa-home fa-lg"></i><span>Dashboard</span></a></li>
                <li><a th:href="@{/departement/list}"><i class="icon fa fa-building-o "></i>Departement</a></li>
                <li><a th:href="@{/gedung/list}"><i class="icon fa fa-building "></i>Gedung</a></li>
                <li><a th:href="@{/ruangan/list}"><i class="icon fa fa-cube "></i>Ruangan</a></li>
                <li><a th:href="@{/personil/list}"><i class="fa fa-users"></i>Personil</a></li>
                <li><a th:href="@{/pic/list}"><i class="fa fa-user-o"></i>PIC</a></li>
                <li><a th:href="@{/bookingruangan/list}"><i class="fa fa-address-book"></i><span>Booking Ruangan</span></a></li>
            </ul>
        </section>
    </aside>

    <div class="page-content d-flex align-items-stretch">

        <div class="content-inner">

            <!-- content start -->
            <div layout:fragment="content">
                <p>Page content goes here</p>
            </div>




            <!-- content end -->

        </div>

    </div>


</div>
<!-- Javascript files-->
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/pace.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/plugins/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/plugins/dataTables.bootstrap.min.js}"></script>

<!--Data Table-->
</body>
</html>