<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Detail Ruangan</title>
</head>
<body>
<section layout:fragment="content" class="tables">
    <div class="content-wrapper">
        <div class="page-title">
            <div>
                <h1><i class="fa fa-th-list"></i> Tambah Ruangan</h1>
            </div>
            <div>
                <ul class="breadcrumb side">
                    <li><i class="fa fa-home fa-lg"></i></li>
                    <li>Ruangan</li>
                    <li class="active"><a href="#">Tambah Ruangan</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Class Room Code</label>
                            <input type="text" name="kodeRuangan" class="form-control" placeholder="Class Room Code">
                        </div>

                        <div class="form-group">
                            <label>Building</label>
                            <select name="provinsi" class="form-control js-example-placeholder-single">
                                <option value=""></option>
                                <option>Building ID</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="exampleFormControlInput1">Room Name</label>
                            <input type="text" class="form-control" name="namaRuangan" id="exampleFormControlInput1" placeholder="Name">
                        </div>

                        <div class="form-group">
                            <label>Capacity</label>
                            <input type="number" name="kapasitas" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Information</label>
                            <textarea class="form-control" name="keterangan" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Status</label><br>
                                <div class="toggle">
                                    <label>
                                        <input name="status" type="checkbox" value="AKTIF"><span class="button-indecator"></span>
                                    </label >
                                    <input type="hidden" name="idRuangan">
                                    <input type="hidden" name="userInsert">
                                    <input type="hidden" name="tglInsert">
                                </div>
                            </div>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Save">
                        <a class="btn btn-primary" th:href="@{/ruangan/list}" role="button">
                            <span aria-hidden="true"></span>Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
